.footerHome{
    width: 98%;
    background-color:yellow;
    border-color:white;
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
    margin: 1%;
    text-align: center;
}
.footerHome ul{
    width: 850px;
    background-color: rgb(201, 108, 55);
    padding: 10px;
    margin: 00px 0px 0px 16%;
}
.footerHome li{
    display: inline-block;
}
.fondo{
    width: 80%;
    height: 350px;
    padding-left: 3%;
    margin-top: 2%;
}
