.headerHome{
    width: 100%;
    /*background-color:rgb(31, 42, 204);*/
}
.sectionCajaHome{
    width: 100%;
   /* background-color: rgb(11, 40, 170);
    border-color:rgb(25, 9, 243);
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;*/
}
.logoHome{
    color: black;
}
.tituloHeaderHome{
    /*background-color: rgb(19, 72, 151);*/
    font-weight: bold; 
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    display: flex;
    margin: -4% 0px 2% 25%;
}

.bienvenidaHeaderHome{
    /*background-color: beige;*/
    color: rgb(223, 16, 16);
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    margin: 0 0 2% 0;
}
.estadoDePaginaPrincipal{
    font-size: 10px;
    margin: 0px 0px 8% 43%;
    
}

.navSectionCajaHome{
    /*background-color: blueviolet;*/
    padding: 10px;
    text-align: center;
}
.listaNavSectionCajaHome{
    /*background-color: aqua;*/
    padding: 23px;
}
nav .cajaLiHome{
    color: rgb(235, 21, 21);
}
