.headerHome{
    width: 98%;
    background-color:yellow;
    border-color:white;
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
    margin: 1%;
}
.sectionCajaHome{
    width: 97%;
    background-color: rgb(61, 83, 185);
    border-color:white;
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
    margin: 1% ;
}
.logoHome{
    color: black;
}
.tituloHeaderHome{
    background-color: wheat;
    font-weight: bold; 
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    display: flex;
    margin: -4% 0px 2% 25%;
}

.bienvenidaHeaderHome{
    background-color: beige;
    color: rgb(223, 16, 16);
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    margin: 0 0 2% 0;
}
.estadoDePaginaPrincipal{
    background-color: aqua;
    font-size: 10px;
    margin: 0px 0px 8% 43%;

    
}

.navSectionCajaHome{
    background-color: blueviolet;
    padding: 10px;
    text-align: center;
}
.listaNavSectionCajaHome{
    background-color: aqua;
    padding: 23px;
}
nav .cajaLiHome{
    color: rgb(235, 21, 21);
}
