.headerHome{
    width: 99%;
    height: 400px;
    background-color: rgb(12, 12, 12);
    padding: 5px;
    
    
}
.sectionCajaHome{
    width: 100%;
    height: 100%;
    background-color: rgb(214, 200, 73);
}
.tituloHeaderHome{
    background-color: rgb(19, 65, 151);
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    font-weight: bold;
    color: azure;
    text-align: center;
}
.bienvenidaHeaderHome{
    background-color: beige;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: bold;
    color: rgb(10, 173, 173);
    text-align: center;
}
.logoHome{
    background-color: brown;
    padding: 10px;
}
.navSectionCajaHome{
    background-color: blueviolet;
    padding: 10px;
    text-align: center;
}
.listaNavSectionCajaHome{
    background-color: aqua;
    padding: 23px;
}
nav .cajaLiHome{
    color: rgb(235, 21, 21);
}
