.sectionPrincipalHome{
    width: 80%;
    margin: 5% 10% 5% 10%;
    /*background-color:rgb(22, 19, 207);
    border-color:black;
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;*/
    
    
}
.tituloPrincipalHome{
    /*background-color: aqua;*/
    color: rgb(243, 9, 28);
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    margin: 5% 0 10% 0;
}
.parrafosSectionPrincipalHome {
    /*background-color: aquamarine;*/
    font-size: 2em;
    font-weight: bold;
    margin: 0% 10% 4% 10%;

}

.portada{
    margin: 0 0 0 35%;
}