
/*ESTE ES EL CSS HOME*/




@media screen and (max-width:480px){
    .bodyHome{
        background: linear-gradient(white,black);
    }
    .sectionCajaHome h1{
        text-align: center;
    }
    .sectionCajaHome nav{
        position: static;
    }
    .itemsListaSectionCajaHome{
        width: 100%;
        display: inline-grid;
    }
    
   
    .headerHome{
        margin: 0%;
    }
    
    .headerHome,.sectionCajaHome,.mainHome,.sectionPrincipalHome,.sectionDiferencialesHome,.sectionVideoHome,.sectionVideoHome{
        width: auto;
    }
    .banerLasTres,.video,.contenidoDiferenciales,.listaDiferenciales,.fondo,.sectionRedes,.footerHome,.footerHome ul,.listaSectionCajaHome{
        width: 100%;
    }
    .listaDiferenciales{
        width: 80%;
    }
    .imagenDiferenciales2,.imagenDiferenciales3{
        width: 40%;

    }
    .footerHome,.sectionRedes,.footerHome ul{
        margin-left: 10px;
    }
    .sectionVideoHome{
        margin-left: auto;
    }
}





/*planes*/



.sectionProductos{
    width: 1040px;
    margin: 10px 0 10px 0px;
    background-color: rgb(55, 46, 170);
    padding: 5px;
}
.sectionProductos li{
    display: inline-block;
    text-align: center;
    width: 45%;
    margin: 2% 2%;
    padding: 20px 20px;
    box-sizing: border-box;
    border-color:black;
    border-width: 5px;
    border-style: solid;
    border-radius: 20px;
}
.sectionProductos li:hover{
    border-color: blue;
}
.sectionProductos li:hover h2{
    font-size: 34px;
}
.sectionProductos li:active{
    border-color: white;
}
.sectionProductos h2{
    font-size: 30px;
    font-weight: bold;
    margin: 0px 0px 40px 0px;
    padding: 0px 0px 0px 0px;
}
.productosDescripcion{
    font-size: 22px;
    font-weight: bold;
}
.productosPrecio{
    font-size: 20px;
    font-weight: bold;
}






/*contacto*/




.footerContacto{
    width: 1110px;
    padding: 5px;
    margin: 10px 0px 10px 10%;
    font-size: 10px;
    text-align: center;
    background-color: blueviolet;
    color: white;
}
.footerContacto ul{
    width: 850px;
    background-color: rgb(201, 108, 55);
    padding: 10px;
    margin: 00px 0px 0px 110px;
}
.footerContacto li{
    display: inline-block;
    background-color: white;
}















/*NETFLIX*/
.bodyNetflix{
    background-color: red;
    
}
.headerNetflix{
    width: 100%;
    height: 500px;
    margin-top: 40px;
    background: url(imagenesEditadas/netflix.jpg);
    background-size: cover;
}

.mainNetflix{
    background-color: blanchedalmond;
}
.tituloPrincipalNetflix{
    background-color: rgb(231, 44, 191);
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
    color: red;
}
.sectionVideoNetflix{
        width: 560px;
        padding: 5px;
        margin: 5px 0 5px 20%;
        /*background-color: rgb(13, 230, 230);*/
    
}
.footerNetflix{
    width: 1110px;
    padding: 5px;
    margin: 10px 0px 10px 10%;
    font-size: 10px;
    text-align: center;
    background-color: blueviolet;
    color: white;
}
.footerNetflix ul{
    width: 850px;
    background-color: rgb(201, 108, 55);
    padding: 10px;
    margin: 00px 0px 0px 110px;
}
.footerNetflix li{
    display: inline-block;
    background-color: white;
}











/*DISNEY PLUS*/



.bodyDisney{
    background-color:blue;
    
}
.headerDisney{
    width: 100%;
    height: 500px;
    margin-top: 40px;
    background: url(imagenesEditadas/disney.jpg);
    background-size: cover;
}

.mainDisney{
    background-color: blanchedalmond;
}
.tituloPrincipalDisney{
    background-color: rgb(231, 44, 191);
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
    color: red;
}
.sectionVideoDisney{
        width: 560px;
        padding: 5px;
        margin: 5px 0 5px 20%;
        /*background-color: rgb(13, 230, 230);*/
    
}
.footerDisney{
    width: 1110px;
    padding: 5px;
    margin: 10px 0px 10px 10%;
    font-size: 10px;
    text-align: center;
    background-color: blueviolet;
    color: white;
}
.footerDisney ul{
    width: 850px;
    background-color: rgb(201, 108, 55);
    padding: 10px;
    margin: 00px 0px 0px 110px;
}
.footerDisney li{
    display: inline-block;
    background-color: white;
}













/*AMAZON PRIME*/



.bodyAmazon{
    background-color:white;
    
}
.headerAmazon{
    width: 100%;
    height: 500px;
    margin-top: 40px;
    background: url(imagenesEditadas/amazon.jpg);
    background-size: cover;
}

.mainAmazon{
    background-color: rgb(206, 134, 26);
}
.tituloPrincipalAmazon{
    background-color: rgb(231, 44, 191);
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
    color: red;
}
.sectionVideoAmazon{
        width: 560px;
        padding: 5px;
        margin: 5px 0 5px 20%;
        /*background-color: rgb(13, 230, 230);*/
    
}
.footerAmazon{
    width: 1110px;
    padding: 5px;
    margin: 10px 0px 10px 10%;
    font-size: 10px;
    text-align: center;
    background-color: blueviolet;
    color: white;
}
.footerAmazon ul{
    width: 850px;
    background-color: rgb(201, 108, 55);
    padding: 10px;
    margin: 00px 0px 0px 110px;
}
.footerAmazon li{
    display: inline-block;
    background-color: white;
}






/*HBO MAX*/



.bodyHbo{
    background-color:rgb(192, 230, 24);
    
}
.headerHbo{
    width: 1300px;
    height: 650px;
    margin-top: 40px;
    background: url(imagenesEditadas/hbo.jpg);
    background-size: cover;
}

.mainHbo{
    background-color: blanchedalmond;
}
.tituloPrincipalHbo{
    background-color: rgb(231, 44, 191);
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
    color: red;
}
.sectionVideoHbo{
        width: 560px;
        padding: 5px;
        margin: 5px 0 5px 20%;
        /*background-color: rgb(13, 230, 230);*/
    
}
.footerHbo{
    width: 1110px;
    padding: 5px;
    margin: 10px 0px 10px 10%;
    font-size: 10px;
    text-align: center;
    background-color: blueviolet;
    color: white;
}
.footerHbo ul{
    width: 850px;
    background-color: rgb(201, 108, 55);
    padding: 10px;
    margin: 00px 0px 0px 110px;
}
.footerHbo li{
    display: inline-block;
    background-color: white;
}

