.mainPlanes{
    width: 100%;
    
}
.botonWasap{
    background-color: rgb(12, 219, 40);
    padding: 20px 20px;
    border-color:black;
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.botonMesenger{
    background-color: rgb(15, 85, 189);
    padding: 20px 20px;
    border-color:black;
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}


