.sectionPlanes{
    width: 100%;
    display: flex;
    
}
.cajasPlanes{
    width: 40%;
    border-color:black;
    border-width: 2px;
    border-style: solid;
    border-radius: 50px; 
    text-align: center;
    margin: 5%;
    padding: 30px;
}
.tituloPrincipalPlanes{
    color: rgb(231, 15, 15);
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    margin-top: 100px;
}
.numeroPlan{
    color: rgb(12, 26, 230);
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    margin: 0 0 0 0;
}
.tituloPlan{
    color: rgb(231, 12, 12);
    font-weight: bold;
    font-size: 2em;
}
.descripcionPlanes{
    font-size:1em;
    color: rgb(15, 19, 233);
    font-weight: bold;
    margin: 3% 0 10% 0;
}

