.sectionPlanes{
    width: 100%;
    background-color: aquamarine;
    border-color:black;
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
    display: flex;
    
}
.cajasPlanes{
    width: 40%;
    background-color:rgb(224, 228, 31);
    border-color:black;
    border-width: 2px;
    border-style: solid;
    border-radius: 50px; 
    text-align: center;
    margin: 5%;
    padding: 30px;
}
.tituloPrincipalPlanes{
    background-color: burlywood;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    margin-top: 100px;
}
.numeroPlan{
    background-color: burlywood;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    margin: 0 0 0 0;
}
.tituloPlan{
    background-color: burlywood;
    color: brown;
    font-weight: bold;
    font-size: 2em;
}
.descripcionPlanes{
    font-size:1em;
    background-color: burlywood;
    color: blueviolet;
    font-weight: bold;
    margin: 3% 0 10% 0;
}

