
.sectionCombos{
    display: flex;
}
.cajasCombos{
    width: 40%;
    height: 600px;
    border-color:black;
    border-width: 2px;
    border-style: solid;
    border-radius: 50px; 
    margin: 4%;
    text-align: center;
}
.tituloPrincipalCombos{
    color: rgb(238, 7, 27);
    font-weight: bold;
    font-size: 2em;
    margin-top: 10%;
    text-align: center;
}
.numeroCombo{
    color: rgb(10, 25, 235);
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}
.tituloCombo{
    color: rgb(218, 13, 13);
    font-weight: bold;
    font-size: 2em;
}
.descripcionCombos{
    font-size:2em;
    color: rgb(11, 15, 233);
    font-weight: bold;
    margin: 10% 0 10% 0;
}