.sectionPromociones{
    width: 98%;
    background-color: aquamarine;
    border-color:black;
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
    margin: 2%;
    display: flex;
}
.cajasPromociones{
    width: 50%;
    height: 650px;
    background-color:rgb(224, 228, 31);
    border-color:black;
    border-width: 2px;
    border-style: solid;
    border-radius: 50px; 
    margin: 1%;
    text-align: center;
}
.tituloPrincipalPromociones{
    background-color: burlywood;
    color: white;
    font-weight: bold;
    font-size: 2em;
    margin-top: 10%;
    text-align: center;
}
.numeroPromociones{
    background-color: burlywood;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}
.tituloPromociones{
    background-color: burlywood;
    color: brown;
    font-weight: bold;
    font-size: 2em;
}
.descripcionPromociones{
    font-size:2em;
    background-color: burlywood;
    color: blueviolet;
    font-weight: bold;
    margin: 10% 0 10% 0;
}
