.sectionPromociones{
    width: 98%;
    height: 600px;
    margin: 2%;
    display: flex;
}
.cajasPromociones{
    width: 50%;
    border-color:black;
    border-width: 2px;
    border-style: solid;
    border-radius: 50px; 
    margin: 1%;
    text-align: center;
}
.tituloPrincipalPromociones{
    font-weight: bold;
    font-size: 2em;
    margin-top: 10%;
    text-align: center;
    color: rgb(235, 154, 161);
}
.numeroPromociones{
    color: rgb(117, 125, 238);
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}
.tituloPromociones{
    color: rgb(179, 97, 97);
    font-weight: bold;
    font-size: 2em;
}
.descripcionPromociones{
    font-size:2em;
    color: rgb(114, 116, 233);
    font-weight: bold;
    margin: 5% 0 10% 0;
}
