.footerPlanes{
    width: 100%;
    background-color:rgb(34, 13, 223);
    border-color:white;
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
}

.fondoPlanes{
    width: 100%;
    height: 350px;
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
    border-color: transparent;
    margin-top: 10%;
}
.footerPlanes ul{
    width: 650px;
    /*background-color: rgb(201, 108, 55);*/
    padding: 10px;
    margin: 00px 0px 0px 38%;
}
.textoRedesPlanes{
    color:white;
    margin-left:40%;
}
.footerPlanes li{
    display: inline-block;
}

.copyrightPlanes{
    color:white;
    margin-left:40%;
    
}
