.footerPlanes{
    width: 100%;
}

.fondoPlanes{
    width: 99%;
    height: 350px;
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
    border-color: transparent;
    margin-top: 5%;
}
.footerPlanes ul{
    text-align: center;
    /*background-color: rgb(201, 108, 55);*/
    padding: 1px;
    
}
.textoRedesPlanes{
    color:white;
    text-align: center;
}
.footerPlanes li{
    display: inline-block;
}

.copyrightPlanes{
    color:white;
    text-align: center;
    
}
