.headerContacto{
    width: 100%;
}
.sectionCajaContacto{
    width: 99%;
}
.logoContacto{
    color: black;
}
.tituloHeaderContacto{
    /*background-color: wheat;*/
    font-weight: bold; 
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

.bienvenidaHeaderContacto{
    /*background-color: beige;*/
    color: rgb(223, 16, 16);
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}
.estadoDePaginaPrincipalContacto{
    font-size: 10px;
    text-align: center;

    
}

.navSectionCajaContacto{
    padding: 10px;
    text-align: center;
}
.listaNavSectionCajaContacto{
    padding: 23px;
}
nav a:hover{
    color: blue;
    text-decoration: underline;
}


nav .cajaLiContacto{
    color: rgb(235, 21, 21);
}
nav li{
    display: inline;
    margin: 0 0 0 25px;
   
}
nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    background: rgb(217, 217, 223);
    border-color:black;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
    margin: 0px 0px 0px 0px;
    
}
