.mainContacto{
    width: 100%;
    background-color:red;
    border-color:black;
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
    
}
form{
    width: 100%;
    background-color: blue;
    margin-top: 10%;
    border-color:black;
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}
.inputPadron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 20px;
    width: 50%;
    text-align: center;
}
.checkbox{
    margin: 20px 0;
}
.enviar{
    width: 20%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: blue;
    border: none;
    border-radius: 20px;
    transition: 1s all;
    cursor: pointer;

}
.enviar:hover{
    background: black;
    transform: scale(1.2) rotate(2deg);
}
table{
    
    background-color: aqua;
    margin: 88px 20px 10% 40%;
}
thead{
    background: blue;
    color: white;
    font-weight: bold;
}
td,th{
    border: 1px solid black;
    padding: 15px 15px 15px 15px;
}
