.footerContacto{
    width: 100%;
}

.fondoContacto{
    width: 100%;
    height: 350px;
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
    border-color: transparent;
}
.footerContacto ul{
    text-align: center;
    /*background-color: rgb(201, 108, 55);*/
    padding: 10px;
    
}
.textoRedesContacto{
    color:white;
    text-align: center;
}
.footerContacto li{
    display: inline-block;
}

.copyrightContacto{
    color:white;
    text-align: center;
    
}
