.footerContacto{
    width: 100%;
    background-color:rgb(34, 13, 223);
    border-color:white;
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
}

.fondoContacto{
    width: 100%;
    height: 350px;
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
    border-color: transparent;
    margin-top: 10%;
}
.footerContacto ul{
    text-align: center;
    /*background-color: rgb(201, 108, 55);*/
    padding: 10px;
    
}
.textoRedesContacto{
    color:white;
    text-align: center;
}
.footerContacto li{
    display: inline-block;
}

.copyrightContacto{
    color:white;
    text-align: center;
    
}
