.bodyHome{
    /*width:1320px;*/
    background: linear-gradient(white,black);
    font-family: 'Montserrat', sans-serif;
    /*border-color:blue;
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;*/
}
