.footerHome{
    width: 100%;
    /*background-color:yellow;
    border-color:white;
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
    text-align: center;*/
}
.fondo{
    width: 100%;
    height: 350px;
    margin-top: 2%;
    margin-left: 0.5%;
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
    border-color: transparent;
}
.footerHome ul{
    width: 650px;
    /*background-color: rgb(201, 108, 55);*/
    padding: 10px;
    margin: 00px 0px 0px 38%;
}
.textoRedesHome{
    color:white;
    margin-left:40%;
}
.footerHome li{
    display: inline-block;
}

.copyrightHome{
    color:white;
    margin-left:40%;
    
}
