.footerHome{
    width: 99%;
    /*background-color:yellow;
    border-color:white;
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
    text-align: center;*/
}
.fondo{
    width: 100%;
    height: 350px;
    margin-top: 2%;
    margin-left: 0.5%;
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
    border-color: transparent;
}
.footerHome ul{
    width: 100%;
    /*background-color: rgb(201, 108, 55);*/
    padding: 10px;
    text-align: center;
    
}
.textoRedesHome{
    color:white;
    text-align: center;
    font-size: 10px;
}
.footerHome li{
    display: inline-block;
}

.copyrightHome{
    color:white;
    text-align: center;
    font-size: 10px;
}
